.container {
    background-color: rgb(211, 209, 209);
}


#darkMode {
    width: 30px;
    height: 15px;
    appearance: none;
    border-radius: 25%;
    position: relative;
    background-color: aliceblue;
    border: 1px solid gray;
}

#darkMode::before {
    width: 14px;
    height: 14px;
    background-color: gray;
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 50%;
}

#darkMode:checked {
    background-color: blue;
}

#darkMode:checked::before {
    left: 50%;
    background-color: white;
}

#alert {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.navbar {
    border-radius: 12px;
}
